/*------------------------------------------------------*/
/*            IMAGES                                    */
/*------------------------------------------------------*/

.nassau-image {
  background-image: url("/images-videos/Headers/nassau_hall.jpg");
  background-color: #0C090A;
  height: 320px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
.profilepic {
  display: block;
  height: 260px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 22px;
}
.gears-image {
  background-image: url("/images-videos/Headers/gears.jpg");
  background-color: #0C090A;
  height: 320px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  margin-bottom: -16px;
}
.code-image {
  background-image: url("/images-videos/Headers/computercode.jpg");
  background-color: #0C090A;
  height: 320px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  margin-bottom: -16px;
}
.music-image {
  background-image: url("/images-videos/Headers/guitar.jpg");
  background-color: #0C090A;
  height: 320px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  margin-bottom: -16px;
}
figure.rightsmall {
  display: block;
  float: right;
  width: 20%;
  height: 255px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 8%;
  margin-left: 140px;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.leftsmall {
  display: block;
  float: left;
  width: 20%;
  height: 255px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: -4%;
  margin-left: 8%;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.rightmedium {
  display: block;
  float: right;
  width: 30%;
  height: 355px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 8%;
  margin-left: 140px;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.leftmedium {
  display: block;
  float: left;
  width: 30%;
  height: 355px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: -4%;
  margin-left: 8%;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.rightwide {
  display: block;
  float: right;
  width: 45%;
  height: 365px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 8%;
  margin-left: 140px;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.rightlarge {
  display: block;
  float: right;
  width: 40%;
  height: 455px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 8%;
  margin-left: 140px;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.leftlarge {
  display: block;
  float: left;
  width: 40%;
  height: 455px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 8%;
  margin-right: -4%;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.middlewide {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 500px;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.middlewideshort {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 250px;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.middlelarge {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 530px;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: silver;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
figure.videolarge {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 500px;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}
figure.embedvideolarge {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 480px;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}
figure.videomedium {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 350px;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}
figcaption {
  font-size: 120%;
}
figure.sidebyside3 {
  display: inline-block;
  float: left;
  width: 33%;
  background-color: lightgrey;
  margin: 3px;
  border-radius: 5px;
}
figure.sidebyside2 {
  display: inline-block;
  float: left;
  width: 49%;
  background-color: lightgrey;
  margin: 3px;
  border-radius: 5px;
}
div.row {
  display: flex;
  margin-left: 12%;
  width: 76%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*------------------------------------------------------*/
/*            BUTTONS                                   */
/*------------------------------------------------------*/

div.sticky {
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 150%;
    opacity: 100%;
    text-align: center;
    background-color: #0C090A;
    border-bottom-style: solid;
    border-width: thick;
    width: 100%;
    left: 8%;
    right: 8%;
    border-radius: 12px;
    margin-bottom: 60px;
}
.buttonpagelinks {
  display: inline-block;
  background-color: #ff3a22;
  border-radius: 20px;
  border-width: thin;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana;
  width: 230px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-width: medium;
}
.buttonpagelinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonpagelinks:hover {
  background-color: #d44336;
}
.buttonpagelinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonpagelinks:hover span {
  padding-right: 25px;
}
.buttonpagelinks:hover span:after {
  opacity: 1;
  right: 0;
}

/*------------------------------------------------------*/
/*            TEXT                                      */
/*------------------------------------------------------*/

body {
  background-color: #f6f4f1;
}
h1 {
  font-size: 450%;
  font-family: Tahoma, Impact, sans-serif;
}
h2 {
  font-size: 200%;
  text-align: center;
  text-decoration: underline;
  font-family: Garamond, Palatino, serif;
}
h3 {
  font-size: 170%;
  text-align: center;
  font-family: Garamond, Palatino, serif;
}
h4 {
  font-size: 140%;
  text-align: center;
  font-family: Garamond, Palatino, serif;
}
h5 {
  font-size: 130%;
  font-weight: bold;
  text-align: left;
  font-family: Garamond, Palatino, serif;
  margin-left: 12%;
  margin-right: 12%;
  text-decoration: underline;
}

.pagetitle {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 7%;
  color: white;
}
.bubbletext {
  font-family: Tahoma, Arial Black, sans-serif;
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.bottomtext {
  font-size: 80%;
  text-align: center;
  color: #0C090A
}
.bodytext {
  font-size: 130%;
  position: relative;
  text-align: justify;
  right: 8%;
  left: 8%;
  width: 84%
}
ul {
  font-size: 160%;
  font-family: Candara, Verdana, sans-serif;
  position: relative;
  text-align: left;
  right: 8%;
  left: 8%;
  width: 84%
}
div.special {
  background-color: #87a2be;
  position: relative;
  text-align: left;
  right: 8%;
  left: 8%;
  width: 84%;
  padding: 10px 0px;
  border-radius: 30px;
  margin-top: 20px;
}
div.main1 {
  background-color: #b9c9d9;
  position: relative;
  text-align: left;
  right: 8%;
  left: 8%;
  width: 84%;
  padding: 10px 0px;
  border-radius: 30px;
  margin-top: 20px;
}
div.main2 {
  background-color: #d0bda8;
  position: relative;
  text-align: left;
  right: 8%;
  left: 8%;
  width: 84%;
  padding: 10px 0px;
  border-radius: 30px;
  margin-top: 20px;
}
.name {
  margin-top: -32px;
  margin-bottom: -80px;
  padding-top: 5px;
  height: 180px;
  width: 100%;
  line-height: 90px;
  background-color: #0C090A;
  border-radius: 12px;
}
p {
  text-indent: 40px;
  font-family: Candara, Verdana, sans-serif;
}
